.equipment{
    margin-top: 5%;
}
.card-img-top{
    height: 12rem;
    padding: 10%;
}
.card-title{
    text-align: center;
    text-transform: uppercase;
}
.card-body{
    padding:0px!important;
}
.card{
    margin-bottom: 5%;
}
.navbar-light .navbar-toggler-icon {
    background-color: #adaaaa;
    width: 2rem;
}
.card{
    background-color:#e9ff00;
}
@media (max-width: 688px){
    .col {
        width: 74%;
        margin: 4% auto;
    }
    .card-img-top {
        height: 15rem;
        padding: 10%;
    }
}